[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
jupyter = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
scipy = "*"
psychopy = "*"
screeninfo = "*"

[dev-packages]

[requires]
python_version = "3.10"
